@import'theme_css/_theme.scss';
@import'color/_theme_color.scss';

header{
  position: absolute;
  z-index: 99;
  width: 100%;
  &.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    animation: sticky 0.8s 1;
  }
  @keyframes sticky {
    0%{
      top: -110%;
    }
    100%{
      top: 0;
    }
  }
  nav.navbar{
    padding: 0;
    background: $primary;
    text-align: center;
    a.navbar-brand{
      font-size: 34px;
      padding: 0;
      line-height: 1;
      letter-spacing: 1px;
      color: $white;
    }
    .collapsarea{
      flex: 1;
      .navbar-nav{
        .nav-item{
          padding: 18px;
          a.nav-link{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            background: $white;
            padding: 8px 18px;
            border-radius: 5px;
            color: $font;
            transition: $transition;
            &.active, &:hover{
              background: $secondary;
              color: $white;
              transition: $transition;
            }
          }
        }
      }
    }
  }
}

// end header 


.banner{
  background: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
  &::before{
    @include before;
    background: linear-gradient(to right, #120400 20%, #f46e2579);
    opacity: 0.6;
    z-index: -1;
  }
  .banner_area{
    height: 100vh;
    padding: 200px 0px 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .banner_inside{
      max-width: 880px;
      width: 100%;
      h1, p , a{
        color: $white;
      }
      h1{
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 60px;
        text-transform: uppercase;
      }
      p{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 30px;
      }
      a{
        @include button;
      }
    }
  }
}

// end section 


.about_section{
  padding: 100px 0px;
  background: $gradiunt;
  .about_area{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .about_img{
    position: relative;
    width: 60%;
    img{
      border-radius: 10px;
      object-fit: cover;
      aspect-ratio: 3/2.15;
    }
  }
  .about_p{
    position: relative;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    .about_content{
      padding: 30px 20px 30px 30px;
      background: $gradiunttwo;
      border-radius: 10px;
      position: absolute;
      left: -100px;
      h2, p {
        color: $white;
      }
      h2{
        font-size: 30px;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 20px;
        font-size: 18px
      }
      a{
        @include button;
      }
    }
  }
}

// end section


.fruit_section{
  padding: 100px 0;
  background: #ffd8c4;
  h2.section_title{
    color: $font;
  }
  .fruit_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .fruit_card{
      border-radius: 10px;
      margin: 10px;
      background: $primary;
      overflow: hidden;
      filter: drop-shadow(0 4px 6px #d95a1a);
      transition: all 0.3s ease-in-out;
      z-index: 5;
      &::before{
        @include before;
        background: $gradiunttwo;
        transform: translate(0, -20%);
        opacity: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
      }
      &:hover{
        filter: drop-shadow(0 4px 6px $secondary);
        transition: all 0.3s ease-in-out;
        &::before{
          opacity: 1;
          transform: translate(0, 0%);
          transition:all 0.3s ease-in-out;
        }
      }
      .f_img{
        margin-bottom: 20px;
        padding: 10px;
        img{
          object-fit: cover;
          aspect-ratio: 3/2.1;
          border-radius: 10px;
        }
      }
      h4{
        padding: 0px 25px;
        margin-bottom: 20px;
        line-height: 40px;
        font-size: 30px;
        color: $white;
      }
      a{
        @include button;
        margin-left: 25px;
        display: inline-block;
        margin-bottom: 35px;
        border: 1px solid #ffae00;
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
      }
    }
  }
}

// end section 


.weather_forcast{
  padding: 100px 0px;
  background: $primary;
  h1{
    color: $white;
    margin-bottom: 20px;
  }
  p{
    color: $white;
  }
  .forcast_area{
    border-top: 2px solid $border;
    padding-top: 40px;
  }
  .forcast{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 30px;
    .forecastday{
      background: $gradiunttwo;
      padding: 20px 15px;
      border-radius: 10px;
      flex: 1;
      .temp_area{
        justify-content: center;
        h4{
          color: $white;
        }
      }
    }
  }
  .temp_area{
    display: flex;
    align-items: center;
    margin-right: 40px;
    .temp_img{
      text-align: center;
      img{
        width: 100px;
      }
    }
    h4{
      font-size: 38px;
      margin: 0;
      color: #3e21dd;
    }
  }
  .day{
    text-align: center;
    p{
      font-size: 22px;
      text-transform: uppercase;
    }
  }
  .current_weather{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    .weather_insider{
      p{
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

// end section 


.customorder{
  padding: 60px 0px;
  background: #ffd8c4;
  h2{
    font-size: 32px;
    box-shadow: $shadow-two;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    line-height: 44px;
    span.order{
      font-size: 40px;
      margin-left: 10px;
      line-height: 44px;
      color: $secondary;
    }
  }
}

// end section 


footer{
  padding: 80px 0;
  background: $secondary;
  .footer_container{
    margin-top: 50px;
    text-align: center;
    h4{
      font-size: 24px;
      color: #dedbed;
    }
    ul{
      margin-top: 20px;
      li{
        display: block;
        padding: 6px 0;
        a{
          font-size: 18px;
          color: $primary;
          transition: $transition;
          &:hover{
            color: #d95a1a;
            transition: $transition;
          }
        }
      }
    }
  }
  .footerarea{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 991px;
    margin: 0px auto;
  }
  .footer_item{
    h3{
      font-size: 24px;
      margin-bottom: 15px;
    }
    h3, p , a, li{
      color: $white;
    }
    p{
      font-size: 18px;
    }
    ul{
      &.address{
        li{
          display: block;
          padding-top: 10px;
          a{
            display: inline-block;
          }
        }
      }
      &.navlinks{
        li{
          padding: 10px ;
          display: inline-block;
          &:first-child{
            padding-left: 0px;
          }
          a{
            font-size: 18px;
            transition: $transition;
            &:hover{
              color: $primary;
              transition: $transition;
            }
          }
        }
      }
      &.sociallinks{
        margin-top: 10px;
        li{
          padding: 10px;
          display: inline-block;
          &:first-child{
            padding-left: 0px;
          }
          a{
            width: 60px;
            height: 55px;
            border-radius: 5px;
            border: 1px solid $white;
            font-size: 28px;
            text-align: center;
            line-height: 55px;
            transition: $transition;
            &:hover{
              background: $white;
              color: $secondary;
              transition: $transition;
            }
          }
        }
      }
    }
  }
}

// end home page ===============================================
// end home page ===============================================
// end home page ===============================================


.fruitmix{
  padding: 150px 0 100px;
  background: $bg;
  .form_area{
    margin-top: 20px;
    background: $gradiunt;
    border-radius: 15px;
    display: grid;
    box-shadow: $shadow-two;
    border: 1px solid $primary;
    overflow: hidden;
    grid-template-rows: auto;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    h3{
      color: $white;
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block
    }
    form.form_main{
      padding: 30px;
      .form_group{
        margin-bottom: 20px;
        position: relative;
        label{
          font-size: 17px;
          padding-bottom: 8px;
          font-weight: 500;
          display: block;
          color: $white;
          text-transform: capitalize;
        }
        input, select, textarea{
          padding: 10px 16px;
          border: 1px solid $primary;
          background: $bg;
          border-radius: 5px;
          transition: $transition;
          appearance: none;
          -webkit-appearance: none;
          font-family: $open;
          font-weight: 500;
          font-size: 17px;
          color: $font;
          -moz-appearance: none;
          box-shadow: $shadow-two;
          width: 100%;
          &:focus, &:active{
            border-color: $secondary;
            outline: none;
            box-shadow: $shadow-three;
            transition: $transition;
          }
        }
        i{
          position: absolute;
          right: 20px;
          pointer-events: none;
          bottom: 13px;
          color: $font;
        }
      }
      .submit_btn{
        display: block;
        text-align: center;
        button{
          @include button;
          padding: 14px 35px;
          background: $gradiunttwo;
          box-shadow: $shadow-three;
          &::before, &::after{
            background: $gradiunttwo;
          }
        }
      }
    }
    .mix_img{
      height: 100%;
      position: relative;
      h2.section_title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $gradiunttwo;
        padding: 30px;
        border-radius: 8px;
        width: 65%;
        line-height: 65px;
        letter-spacing: 1.5px;
        font-weight: 600;
        font-size: 48px;
        span{
          color: $primary;
        }
      }
      &::before{
        @include before;
        background: $secondary;
        opacity: 0.2;
      }
      img{
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  .order_details{
    margin-top: 30px;
    background: $gradiunttwo;
    border-radius: 15px;
    padding:50px 30px;
    .od_top{
      p{
        text-align: center;
        font-size: 22px;
        font-weight: 500;
      }
    }
    h2, h4, h5, h3, p , span, li{
      color: $white;
    }
    h2.section_title {
      margin-bottom: 20px;
      span{
        color: $primary;
      }
    }
    .orderSummary{
      margin-top: 20px;
      .personalinfo, .fruit_details, .orderdate{
        margin-top: 25px;
        h4{
          font-size: 24px;
          margin-bottom: 20px;
        }
        ul{
          background: rgba($color: $secondary, $alpha: 0.5);
          padding: 20px 15px;
          border-radius: 10px;
          li{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            font-size: 20px;
            font-weight: 500;
            padding: 8px 0;
          }
        }
      }
      .thankstext{
        margin-top: 30px;
        padding-top: 20px;
        border-top: 2px solid rgba($color: $primary, $alpha: 0.5);
        p{
          text-align: center;
          max-width: 800px;
          margin: 0px auto;
          font-size: 20px;
          line-height: 34px;
          font-weight: 500;
        }
      }
    }
  }
}

// end Fresh page ===============================================
// end Fresh page ===============================================
// end Fresh page ===============================================



.about_us{
  padding: 150px 0 100px;
  background: #ffd8c4;
  h2.section_title{
    color: $font;
  }
  .welcomesection{
    background: $gradiunt;
    padding: 30px;
    border-radius: 15px;
    h3{
      font-size: 30px;
      margin-bottom: 20px;
      text-align: center;
      color: $white;
    }
    p{
      font-size: 22px;
      line-height: 35px;
      text-align: center;
      color: $white;
      margin-bottom: 15px;
      a{
        display: inline-block;
        color: $secondary;
      }
    }
    .about_wrapper{
      display: flex;
      margin-top: 40px;
      gap: 40px;
      .aboutimg{
        img{
          max-width: 350px;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .about_content{
        flex: 1;
        p{
          text-align: left;
        }
      }
    }
  }
}

// end section 


.contact_info{
  padding: 80px 0;
  background: rgba($color: $secondary, $alpha: 0.15);
  .contact_info_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    .contact_items{
      &.detailcontent{
        background: $gradiunttwo;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h2.section_title{
        text-align: left;
        margin-bottom: 30px;
        font-size: 36px;
        span{
          color: $primary;
        }
      }
      ul{
        li{
          display: block;
          font-size: 24px;
          color: $white;
          padding: 8px 0;
        }
      }
      a{
        margin-top: 30px;
        font-size: 22px;
        color: $white;
        text-decoration: underline;
        transition: $transition;
        &:hover{
          color: $primary;
          transition: $transition;
        }
      }
    }
  }
}


// end About page ===============================================
// end About page ===============================================
// end About page ===============================================


.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradiunt;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.preloaderspan {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid $secondary;
  animation: loading 0.5s infinite alternate ease-in-out;
  position: relative;
}
.vanish {
  animation: vanish 1.5s forwards;
}

@keyframes vanish {
  50% {
    opacity: 1;
  }
  90%{
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

