
@media only screen and (max-width: 1024px){

  .fruit_section .fruit_area .fruit_card{
    margin: 0;
  }
  .fruit_section .fruit_area .fruit_card h4{
    line-height: 35px;
    font-size: 24px;
  }
  .about_section .about_area{
    flex-direction: column;
  }
  .about_section .about_p{
    width: 100%;
  }
  .about_section .about_p .about_content{
    left: 0;
    margin-top: 20px;
    position: relative;
  }
  .customorder h2{
    display: block;
  }
  .fruitmix .form_area .mix_img h2.section_title{
    width: 85%;
    line-height: 50px;
    font-size: 36px;
  }
  .fruitmix .order_details .orderSummary .personalinfo ul li, .fruitmix .order_details .orderSummary .fruit_details ul li, .fruitmix .order_details .orderSummary .orderdate ul li{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .about_us .welcomesection .about_wrapper{
    flex-direction: column;
  }
  .about_us .welcomesection p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 767px){

  .navbar-toggler {
    display: block;
    height: 22px;
    width: 30px;
    position: relative;

  }
  .navbart{
    width: 30px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    right: 0;
  }
  .flex_box{
    height: 60px;
    position: relative;
  }
  .navbart:first-child{
    top: 0;
  }
  .navbart:last-child{
    bottom: 0;
  }
  .navbart:nth-child(2){
    top:50%;
    transform: translate(0%, -50%);
  }


  .collapse.navbar-collapse {
    width: 300px;
    top: 100%;
    position: absolute;
    left: 50%;
    background-color: #f97431;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -30px);
    transition: all 0.3s ease-in-out;
  }
  
  .collapse.show.navbar-collapse {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
  }
  
  header nav.navbar .collapsarea .navbar-nav{
    padding: 10px 10px 20px;
  }
  header nav.navbar .collapsarea .navbar-nav .nav-item{
    display: block;
    text-align: center;
    padding: 8px;
    max-width: 200px;
    margin: 0px auto;
  }


  .banner .banner_area{
    height: auto;
    padding: 130px 0px 80px;
  }
  .banner .banner_area .banner_inside h1 {
    font-size: 38px;
    line-height: 45px;
  }
  .banner .banner_area .banner_inside p {
    font-size: 18px;
    line-height: 28px;
  }
  h2.section_title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .fruit_section .fruit_area{
    grid-template-columns: repeat(1, 1fr);
  }
  .weather_forcast .temp_area h4 {
    font-size: 30px;
  }
  .weather_forcast .temp_area .temp_img img {
    width: 50px;
  }
  .weather_forcast .temp_area .temp_img {
    height: 50px;
  }
  .customorder h2{
    font-size: 24px;
  }
  footer .footerarea, .weather_forcast .forcast{
    flex-direction: column;
  }
  .weather_forcast .forcast .forecastday{
    width: 100%;
  }
  .fruitmix .form_area .mix_img{
    order: -1;
    height: 400px;
  }
  .fruitmix .form_area{
    grid-template-columns: repeat(1, 1fr);
  }
  .fruitmix .form_area .mix_img img {
    object-position: center;
    width: 100%;
  } 
  .fruitmix{
    padding: 80px 0px;
  }
  .fruitmix .order_details .orderSummary .personalinfo ul li, .fruitmix .order_details .orderSummary .fruit_details ul li, .fruitmix .order_details .orderSummary .orderdate ul li{
    display: flex;
    gap: 10px;
  }
  .about_us{
    padding: 80px 0;
  }
  .contact_info .contact_info_area{
    grid-template-columns: repeat(1, 1fr);
  }
}


@media only screen and (max-width: 575px){
  .about_section .about_img{
    width: 100%;
  }
  .banner::before{
    background: linear-gradient(to right, #120400 50%, rgba(244, 110, 37, 01));
  }
  .banner .banner_area .banner_inside h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .about_section .about_p .about_content{
    padding: 15px;
  }
  .about_section .about_p .about_content h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .fruit_section, .about_section{
    padding: 60px 0;
  }
  h2.section_title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .fruit_section .fruit_area .fruit_card .f_img {
    margin-bottom: 0;
  }
  .weather_forcast h1{
    font-size: 22px;
  }
  .fruitmix .form_area .mix_img h2.section_title {
    width: 85%;
    line-height: 40px;
    font-size: 32px;
  }
  .fruitmix .order_details{
    padding: 30px 15px;
  }
  .fruitmix .order_details .orderSummary .personalinfo ul li, .fruitmix .order_details .orderSummary .fruit_details ul li, .fruitmix .order_details .orderSummary .orderdate ul li {
    font-size: 15px;
  }
  .fruitmix .order_details h5{
    font-size: 22px;
  }
  .fruitmix .order_details .orderSummary .personalinfo ul li, .fruitmix .order_details .orderSummary .fruit_details ul li, .fruitmix .order_details .orderSummary .orderdate ul li{
    display: block;
    padding: 5px 0;
    gap: 10px;
  }
  .fruitmix .order_details .orderSummary .personalinfo ul li span:first-child, .fruitmix .order_details .orderSummary .fruit_details ul li span:first-child, .fruitmix .order_details .orderSummary .orderdate ul li span:first-child{
    margin-right: 10px;
    font-weight: 400;
  }
  .fruitmix .order_details h4{
    font-size: 20px;
  }
  .fruitmix .order_details .orderSummary .thankstext p{
    font-size: 16px;
    text-align: left;
    line-height: 26px;
  }
  footer{
    padding: 60px 0;
  }
  footer .footer_item ul.sociallinks li a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .about_us .welcomesection .about_wrapper .aboutimg img {
    max-width: 100%;
  }
  .contact_info .contact_info_area .contact_items h2.section_title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .contact_info .contact_info_area .contact_items div{
    height: 300px !important;
  }
  .contact_info .contact_info_area .contact_items ul li {
    font-size: 18px;
    padding: 6px 0;
  }
  .contact_info .contact_info_area .contact_items a {
    font-size: 18px;
  }
  footer .footer_container h4 {
    font-size: 20px;
  }
}